@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Chivo:900');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
	padding: 0;
	margin: 0;
}


body {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	color: #000000;
	line-height: 1.3;
	text-align: auto;
}

header {
	font-family: 'Chivo', sans-serif;
	background-color: #484f48;
	padding: 60px;
	text-align: center;
	font-size: 3em;
}

nav {
	text-align: center;
}

nav a:link {
	font-family: 'Josefin Sans', sans-serif;
	color: #C5D4C5;
	margin: 0 20px;
	font-size: 1em;
	text-decoration: none;
	padding-bottom: 20px;
	-webkit-transition:color ease-in-out .25s;
	-moz-transition:color ease-in-out .25s;
	-o-transition:color ease-in-out .25s;
	transition:color ease-in-out .25s;
}

nav a:hover {
	color:#ffffff;
}

nav a:active {
	color: #ffffff;
}

a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	color: #C5D4C5;
	line-height: 1.3;
	text-align: auto;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

.bodylinks {
	color: #5ac5b2;
}

h1 {
	color: #ffffff;
}

h2 {
	font-style: bold;
	padding-left: 20px;
	font-size: .8em;
}

label{
	font-family: 'Josefin Sans', sans-serif;
	color: #C5D4C5;
	margin: 0 32px;
	font-size: 1em;
	text-decoration: none;
	padding-bottom: 20px;
	display: none;
}

#slogan {
	font-family: 'Josefin Sans', sans-serif;
	color: #ffffff;
	background: #484f48;
	text-align: center;
	font-size: .8em;
	letter-spacing: 3px;
	padding-right: 20px;
}

#lander {
	background:url(../assets/landerb.jpg) no-repeat center center scroll;
	background-size: cover;
	height: 350px;
	padding: 20px 0;
}

#toggle {
	display: none;
}


img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

p {
	padding-left: 20px;
	padding-bottom: 10px;
}

h2, h3, h4 {
	margin: 20px 10px;
	padding-left: 10px;
	text-align: center;
	color: #000000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper {
	background-color: #ffffff;
	width: 100%;
	margin: auto;
}

.blogposts {
	width:22%;
	margin: 1.2%;
	float: left;
	padding-right: 5px;
}

.blogposts h3 {
	font-size: 1.3em;
	color: #5ac5b2;
}

.blogposts img{
	max-width: 100%;
	display: block;
	margin: auto;
}

.blogposts p {
	color: #6B6B6B;
}

.about {
	font-family: 'Crimson Text', serif;
	margin: 1.5%;
	float: left;
	padding-right: 20px;
	padding-left:20px;
	background-color: #ffffff;
	display:block;

}

.about p {
	color: #6B6B6B;
}

#about h3{
	font-family: 'Chivo', sans-serif;
	text-align: left;
	font-size: 2em;
	color: #5ac5b2;
}

main {
	background-color:#ffffff;
	padding:50px 0;
}

section {
	padding: 40px 0;
}

.bodytext {
	color:#000000;
	font-size: .8em;
}

footer {
	font-family: 'Josefin Sans',sans-serif;
	line-height: 20px;
	text-align: center;
	text-transform: lowercase;
	color: #ffffff;
	background-color: #484f48;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-right: 30px;
}

@media screen and (max-width: 1245px) {
	.blogposts {
		width: 46%;
		height: 454px; 
	}

@media screen and (max-width: 1099px) {
	.blogposts {
		width: auto;
		float:none;
		height: auto;
	}

@media screen and (max-width: 850px) {
	#slogan {
		text-align: center;
		float: none;
	}

@media screen and (max-width: 480px) {
	#slogan {
		text-align: center;
		float: none;
		font-size: .6em;
		letter-spacing: 3px;
	}

@media screen and (max-width: 622px){
	nav{
		display: none;
	}

	nav a:link {
		display: block;
		padding: 15px;
		margin: 5px;
		text-transform: uppercase;
	}

	h1 {
		margin: 20px 0 0;
		padding:  0 10%;
	}

	label{
		display: block;
		text-align: center;
		text-transform: uppercase;
	}

	#toggle:checked + nav{
		display: block;
	}

}