
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Futura', sans-serif;
	font-size: 20px;
	color: #585757;
	line-height: 1.3;
}

header {
	font-family: 'Futura', sans-serif;
	background-color: #585757;
	padding: 60px;
}

h1 {
	color: #ffffff;
}

h2 {
	font-style: italic;
	padding-left: 20px;
}

#slogan {
	font-weight: italic;
}

a {
	color: #FFAF34;
	text-decoration: none;
}

nav a {
	font-family: 'Futura', sans-serif;
	color: #FFAF34;
	margin-right: 10px;
}

img {
	width: 100%;
}

ul {
	margin: 20px;
	padding-left: 30px;
}

p {
	padding-left: 20px;
	padding-bottom: 10px;
}

h2, h3, h4 {
	margin: 20px 10px;
	padding-left: 10px;
}

.greytext {
	color:#585858;
}

footer {
	font-family: 'Frutiger',sans-serif;
	background-color:#585757;
	padding: 60px;
	line-height: 2px;
	text-align: center;
	text-transform: lowercase;
	font-weight: bold;
	color: #ffffff;
}
